section.approch
  .container
    .title.title--with-bottom-line
      h2.title.title__header Our Approch
      .tittle__text Check Our approches step by step ( how we do it )

    ul.approch__list
      li.approch__item 
        .approch__image
          img.approach__picture(src="../../images/dist/step-1.jpg" alt="picture")
          .approch__step step
        .approch__text 
          .approch__title Step 1 : Heading Here 
          p.approach__description. 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quae facilis soluta non possimus tempore autem quibusdam veniam, eum pariatur temporibus sequi obcaecati?
      li.approch__item 
        .approch__image
          img.approach__picture(src="../../images/dist/step-2.jpg" alt="picture")
          .approch__step step
        .approch__text 
          .approch__title Step 2 : Heading Here 
          p.approach__description. 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quae facilis soluta non possimus tempore autem quibusdam veniam, eum pariatur temporibus sequi obcaecati?
      li.approch__item 
        .approch__image
          img.approach__picture(src="../../images/dist/step-3.jpg" alt="picture")
          .approch__step step
        .approch__text 
          .approch__title Step 3 : Heading Here 
          p.approach__description. 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quae facilis soluta non possimus tempore autem quibusdam veniam, eum pariatur temporibus sequi obcaecati?
      li.approch__item 
        .approch__image
          img.approach__picture(src="../../images/dist/step-4.jpg" alt="picture")
          .approch__step step
        .approch__text 
          .approch__title Step 4 : Heading Here 
          p.approach__description. 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quae facilis soluta non possimus tempore autem quibusdam veniam, eum pariatur temporibus sequi obcaecati?